Integrador/xml-resources/web-service-references/soap/wsdl/localhost_4000/soap.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.integrador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.integrador/" name="BancarioServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.integrador/" schemaLocation="http://localhost:4000/soap?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="criarConta">
<part name="parameters" element="tns:criarConta"></part>
</message>
<message name="criarContaResponse">
<part name="parameters" element="tns:criarContaResponse"></part>
</message>
<message name="efetuarDeposito">
<part name="parameters" element="tns:efetuarDeposito"></part>
</message>
<message name="efetuarDepositoResponse">
<part name="parameters" element="tns:efetuarDepositoResponse"></part>
</message>
<message name="consultarSaldo">
<part name="parameters" element="tns:consultarSaldo"></part>
</message>
<message name="consultarSaldoResponse">
<part name="parameters" element="tns:consultarSaldoResponse"></part>
</message>
<message name="efetuarSaque">
<part name="parameters" element="tns:efetuarSaque"></part>
</message>
<message name="efetuarSaqueResponse">
<part name="parameters" element="tns:efetuarSaqueResponse"></part>
</message>
<message name="fecharConta">
<part name="parameters" element="tns:fecharConta"></part>
</message>
<message name="fecharContaResponse">
<part name="parameters" element="tns:fecharContaResponse"></part>
</message>
<portType name="BancarioService">
<operation name="criarConta">
<input wsam:Action="http://soap.integrador/BancarioService/criarContaRequest" message="tns:criarConta"></input>
<output wsam:Action="http://soap.integrador/BancarioService/criarContaResponse" message="tns:criarContaResponse"></output>
</operation>
<operation name="efetuarDeposito">
<input wsam:Action="http://soap.integrador/BancarioService/efetuarDepositoRequest" message="tns:efetuarDeposito"></input>
<output wsam:Action="http://soap.integrador/BancarioService/efetuarDepositoResponse" message="tns:efetuarDepositoResponse"></output>
</operation>
<operation name="consultarSaldo">
<input wsam:Action="http://soap.integrador/BancarioService/consultarSaldoRequest" message="tns:consultarSaldo"></input>
<output wsam:Action="http://soap.integrador/BancarioService/consultarSaldoResponse" message="tns:consultarSaldoResponse"></output>
</operation>
<operation name="efetuarSaque">
<input wsam:Action="http://soap.integrador/BancarioService/efetuarSaqueRequest" message="tns:efetuarSaque"></input>
<output wsam:Action="http://soap.integrador/BancarioService/efetuarSaqueResponse" message="tns:efetuarSaqueResponse"></output>
</operation>
<operation name="fecharConta">
<input wsam:Action="http://soap.integrador/BancarioService/fecharContaRequest" message="tns:fecharConta"></input>
<output wsam:Action="http://soap.integrador/BancarioService/fecharContaResponse" message="tns:fecharContaResponse"></output>
</operation>
</portType>
<binding name="BancarioServiceImplPortBinding" type="tns:BancarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="criarConta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="efetuarDeposito">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="consultarSaldo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="efetuarSaque">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fecharConta">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BancarioServiceImplService">
<port name="BancarioServiceImplPort" binding="tns:BancarioServiceImplPortBinding">
<soap:address location="http://localhost:4000/soap"></soap:address>
</port>
</service>
</definitions>