Integrador/src/META-INF/wsdl/localhost_4000/soap.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://soap.integrador/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.integrador/">

<xs:element name="consultarSaldo" type="tns:consultarSaldo"></xs:element>

<xs:element name="consultarSaldoResponse" type="tns:consultarSaldoResponse"></xs:element>

<xs:element name="criarConta" type="tns:criarConta"></xs:element>

<xs:element name="criarContaResponse" type="tns:criarContaResponse"></xs:element>

<xs:element name="efetuarDeposito" type="tns:efetuarDeposito"></xs:element>

<xs:element name="efetuarDepositoResponse" type="tns:efetuarDepositoResponse"></xs:element>

<xs:element name="efetuarSaque" type="tns:efetuarSaque"></xs:element>

<xs:element name="efetuarSaqueResponse" type="tns:efetuarSaqueResponse"></xs:element>

<xs:element name="fecharConta" type="tns:fecharConta"></xs:element>

<xs:element name="fecharContaResponse" type="tns:fecharContaResponse"></xs:element>

<xs:complexType name="criarConta">
<xs:sequence>
<xs:element name="bs_nomeCliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="bs_saldoInicial" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="criarContaResponse">
<xs:sequence>
<xs:element name="bs_numeroConta" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSaldo">
<xs:sequence>
<xs:element name="bs_numeroConta" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarSaldoResponse">
<xs:sequence>
<xs:element name="bs_saldoConta" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efetuarDeposito">
<xs:sequence>
<xs:element name="bs_numeroConta" type="xs:long"></xs:element>
<xs:element name="bs_valorDepositado" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efetuarDepositoResponse">
<xs:sequence>
<xs:element name="bs_resposta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efetuarSaque">
<xs:sequence>
<xs:element name="bs_numeroConta" type="xs:long"></xs:element>
<xs:element name="bs_valorSacado" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="efetuarSaqueResponse">
<xs:sequence>
<xs:element name="bs_resposta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fecharConta">
<xs:sequence>
<xs:element name="bs_numeroConta" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fecharContaResponse">
<xs:sequence>
<xs:element name="bs_resposta" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>